<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        {{travels}}
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Produkt</th>
                    <th>Kategoria</th>
                    <th>Białko/100g</th>
                    <th>Tłuszcze/100g</th>
                    <th>Węglowodany/100g</th>
                    <th>W tym cukry</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="travel in travels">
                    <td>
                        {{ travel.Id }}
                    </td>
                    <td>
                        {{ travel.Name }}
                    </td>
                    <td>
                        {{ travel.Category }}
                    </td>
                    <td>
                        {{ travel.ProteinsPer100g }}
                    </td>
                    <td>
                        {{ travel.FatsPer100g }}
                    </td>
                    <td>
                        {{ travel.CarboPer100g }}
                    </td>
                    <td>
                        {{ travel.SugarPer100g }}
                    </td>
                </tr>
            </tbody>
        </table>
        <select ng-model="selectedTestAccount"
                ng-options="item.Id as item.Name for item in testAccounts">
            <option value="">Select Account</option>
        </select>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>


<div class="row travel-row" data-ng-repeat="travel in travels">
    <div class="col-md-8">
        <h4>{{ travel.location }}</h4>
        <h4>{{ travel.name }}</h4>
        <p>{{ travel.description }}</p>
        <p>{{ travel.id }}</p>
        <p>{{ travel.stars }}</p>
    </div>
</div>