<div class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <h2>Dziennik żywieniowy</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style= "font-weight:bold;">
                <div class="col-md-1">
                    <p>Data</p>
                </div>
                <div class="col-md-2">
                    <p>Ile posiłków</p>
                </div>
                <div class="col-md-2">
                    <p>Kalorie</p>
                </div>
                <div class="col-md-3">
                    <p>% celu kalorycznego</p>
                </div>
                <div class="col-md-3">
                    <p>Rozkład B/T/WW</p>
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
            </div>
            <div class="col-md-12" data-ng-repeat="day in days">
                <div class="col-md-1">
                    <p>{{day.Date | date :'dd-MM'}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{day.MealsCount}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{day.TotalKCal}}</p>
                </div>
                <div class="col-md-3">
                    <p>{{day.RealizationPercent}}</p>
                </div>
                <div class="col-md-3">
                    <p>{{day.Macros}}</p>
                </div>
                <div class="col-md-1">
                    <p>V</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>